
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  text-shadow: 1px 1px 15px #000;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  filter: brightness(30%);
}
.btn-primary {
  background-color: #097725;
  border: 1px solid #ffffff;
}
.btn-primary:hover {
  background-color: rgb(29, 54, 23);
  border: 1px solid #000;
}
.padding {
  padding-bottom: 2rem;
}
.featured-title {
  width: 75%;
  margin: 0 auto;
  padding-top: 4rem;
}
.card {
  padding: 1rem 2rem;
  margin: 0.5rem 0.1rem;
}
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}