.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  h1 {
    font-size: 500%;
    text-transform: uppercase;
  }
  h3 {
    font-size: 200%;
    font-weight: 500;
    padding-bottom: 1em;
  }
}
