.product-div {
  margin-bottom: 30%;
}
.card {
  border: none;
}

.product-details-container {
  margin-top: 10%;
  margin-bottom: 30vw;
  .product-details-right {
    margin-top: 5%;
    .label {
      font-size: 20px;
      border: 2px solid blue($color: #000000);
    }
  }
}
