@import url("https://fonts.googleapis.com/css?family=Caveat|Kalam|Lato|Lobster|Martel+Sans|Merriweather|Neucha|Noto+Sans+HK|Noto+Serif+JP|Paytone+One|Raleway|Source+Sans+Pro&display=swap");

html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
